__pycache__/
*.pyc
*.pyo
.env
venv/
.env/
.DS_Store
.idea/
data/
models/
text_detector/test_results/
text_detector/paddle_results/
text_detector/txt_det/
text_recognitor/ocr_visualize/
text_recognitor/txts/
key_info_extraction/images
key_info_extraction/txts/
